body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, white 50%, rgba(204, 153, 255, 0.4) 70%, rgba(255, 182, 193, 0.4) 100%);
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 40%;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

th {
    background-color: #f4f4f9;
}

img.immagineProfilo {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#backButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}
#backButton img {
    width: 100px;
    height: 100px;
}
