body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, white 50%, rgba(204, 153, 255, 0.4) 70%, rgba(255, 182, 193, 0.4) 100%);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.form {
    background-color: white;
    color: #333;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

#formIngr {
    text-align: center;
    padding: 20px;
}

input[type="button"] {
    background-color: #cc99ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #ffb6c1;
}

#risForm {
    margin-top: 20px;
    text-align: center;
}

table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

img.immagineProfilo {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#backButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}
#backButton img {
    width: 100px;
    height: 100px;
}
