body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, white 50%, rgba(204, 153, 255, 0.4) 70%, rgba(255, 182, 193, 0.4) 100%);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.generale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form {
    background-color: white;
    color: #333;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.Titolo {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

input[type="button"] {
    background-color: #cc99ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

input[type="button"]:hover {
    background-color: #ffb6c1;
    transform: scale(1.05);
}

#risForm {
    margin-top: 20px;
    color: #333;
    font-size: 16px;
    text-align: center;
}

@media (max-width: 500px) {
    .form {
        padding: 20px;
    }

    .Titolo {
        font-size: 20px;
    }

    input[type="button"] {
        padding: 10px 15px;
    }
}
